/*폰트*/
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*화면 전체*/
body {
    background: url('background.png') no-repeat center center fixed;
    background-image: url("../MatchTheCard_GameMainScreen/MainScreen_Photo/background.png");
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    text-align: center;
}

/*작아졌다 커지는 애니메이션*/
@keyframes stargrow {

    0% {
        transform: scale(0) rotate(0deg); 
        opacity: 0; 
    }
    100% {
        transform: scale(1) rotate(360deg); 
        opacity: 1;  
    }
}


.stars {
    font-family: 'KCC-Hanbit';
    position: relative;
    font-size: 127px;
    color: yellow;
    margin-top: 29px;
    transform-origin: center;

}

.star1{
    opacity: 0;
    animation: stargrow 2s ease-out forwards;
    animation-delay: 0s;
    position: absolute;
    top: 86px;
    left: 216px;
}
.star2{
    opacity: 0;
    animation: stargrow 2s ease-out forwards;
    animation-delay: 0.2s;
    position: absolute;
    top: 29px;
    left:389px;
}

.star3{
    opacity: 0;
    animation: stargrow 2s ease-out forwards;
    animation-delay: 0.4s;
    display: flex;
    justify-content: center;
}

.star4{
    opacity: 0;
    animation: stargrow 2s ease-out forwards;
    animation-delay: 0.6s;
    position: absolute;
    top: 29px;
    right: 389px;
}
.star5{
    opacity: 0;
    animation: stargrow 2s ease-out forwards;
    animation-delay: 0.8s;
    position: absolute;
    top: 86px;
    right: 216px;
}


/*제목*/
h1 {
    font-family: 'ONE-Mobile-POP';
    font-size: 72px;
    color: yellow;
    margin: 45px 0;
}

/*점수 판*/
.name {
    font-family: 'KCC-Hanbit';
    color: #fff;
    font-size: 43px;
}
.score {
    font-family: 'KCC-Hanbit';
    color: #fff;
    font-size: 29px;
}

/*메인화면으로 이동 버튼*/
button {
    font-family: 'KCC-Hanbit', 'KCC-Hanbit' !important;
    font-size: 30px;
    color: white;
    text-align: center;
    width: 30vw;
    height: 7vh;
    margin: 1% auto; /* 가운데 정렬 */
    margin-top: 7vh;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(105, 110, 118, 0.2);
    cursor: pointer;
}
button:hover {
    background-color: rgba(105, 109, 118, 0.8);
    transition: 0.1s;
}

/*곰 일러스트 위치*/
.astronaut-bear {
    position: relative;
    bottom: 145px;
    left: 250px;
    width: 144px;
    height: auto;
    margin-left: 1152px;
    z-index : 2; 
}
/*달 일러스트 위치*/
.moon {
    position: absolute;
    top: 676px;
    margin-left: 963px;
    z-index : 1; 
}
