/*화면 전체*/
body {
    background: url('photo/background.png') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    text-align: center;
}

/*별*/
.stars {
    font-family: 'KCC-Hanbit';
    position: relative;
    font-size: 127px;
    color: yellow;
    margin-top: 29px;
    
}

.star1{
    position: absolute;
    top: 86px;
    left: 216px;
}
.star2{
    position: absolute;
    top: 29px;
    left:389px;
}

.star3{
    display: flex;
    justify-content: center;
}

.star4{
    position: absolute;
    top: 29px;
    right: 389px;
}
.star5{
    position: absolute;
    top: 86px;
    right: 216px;
}


/*제목*/
h1 {
    font-family: 'ONE Mobile POP OTF';
    font-size: 72px;
    color: yellow;
    margin: 29px 0;
}

/*점수 판*/
.name {
    font-family: 'KCC-Hanbit';
    color: #fff;
    font-size: 43px;
}
.score {
    font-family: 'KCC-Hanbit';
    color: #fff;
    font-size: 29px;
}

/*메인화면으로 이동 버튼*/
button {
    font-family: 'KCC-Hanbit';
    box-sizing: border-box;
    width: 576px;
    height: 65px; 
    font-size: 32px;
    color: white;
    text-align:center;
    margin: 43px;
    
    border: rgb(235, 236, 239);
    border-radius: 20px;
    outline: 1px solid rgb(235, 236, 239);
    background-color: rgba(235, 236, 239, 0.4);
    font-family: 'KCC-Hanbit';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    color: white;
        
}

/*곰 일러스트 위치*/
.astronaut-bear {
    position: relative;
    bottom: 245px;

    width: 144px;
    height: auto;
    margin-left: 1152px;
    z-index : 2; 
}
/*달 일러스트 위치*/
.moon {
    position: absolute;
    top: 576px;
    margin-left: 763px;
    z-index : 1; 
}







